<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ABDATACHALLENGE</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/webicon/icon.png" />
    <link rel="stylesheet" href="../static/css/vendor.min.css" />
    <link rel="stylesheet" href="../static/css/plugins.min.css" />
    <link rel="stylesheet" href="../static/css/style.min.css" />
  </head>

  <body>
    <!--====================  header area ====================-->
    <div class="header-area header-area--default">
      <!-- Header Bottom Wrap Start -->
      <header class="header-area header-sticky">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <div class="header__logo">
                <div class="logo">
                  <a href="home.html"
                    ><img
                      class="logo-size"
                      src="../static/logo/aigua_logo.png"
                      alt=""
                      width="185px"
                      height="35px"
                  /></a>
                </div>
              </div>
              <div class="header-right">
                <div
                  class="header__navigation menu-style-three d-none d-lg-block"
                >
                  <nav class="navigation-menu">
                    <ul>
                      <li class="has-children">
                        <a href="home.html">
                          <span>Home</span>
                        </a>
                      </li>
                      <li
                        class="has-children has-children--multilevel-submenu active"
                      >
                        <a href="grafic-1.html"><span>Graficos</span></a>
                        <ul class="submenu">
                          <li class="active">
                            <a href="grafic-1.html">
                              <span>Grafic One</span>
                            </a>
                          </li>
                          <li>
                            <a href="grafic-2.html">
                              <span>Grafic Two</span>
                            </a>
                          </li>
                          <li>
                            <a href="grafic-3.html">
                              <span>Grafic Three</span>
                            </a>
                          </li>
                          <li>
                            <a href="grafic-4.html">
                              <span>Grafic Four</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-children">
                        <a href="prediction.html">
                          <span>Model prediction</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>

                <div class="header-btn text-right d-none d-sm-block ml-lg-4">
                  <a class="btn-circle btn-default btn" href="about-ust.html">
                    About us
                  </a>
                </div>

                <!-- mobile menu -->
                <div
                  class="mobile-navigation-icon d-block d-lg-none"
                  id="mobile-menu-trigger"
                >
                  <i></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Header Bottom Wrap End -->
    </div>
    <!--====================  End of header area  ====================-->

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area bg-overlay-black-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="breadcrumb-title text-white">Grafic 3</h3>
            <!-- breadcrumb-list start -->
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Grafic 3</li>
            </ul>
            <!-- breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="site-wrapper-reveal">
      <!--=========== Causes Details Area Start ==========-->
      <div class="causes-details-area section-space--ptb_80">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="mission-wrap mr-lg-5">
                <div class="section-title-wrap text-left">
                  <h4 class="section-title-normal mb-30">Next Target</h4>
                </div>

                <div class="target-content">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=========== Causes Details Area End ==========-->

      <!--=========== Video Area Start ==========-->
      <div class="about-video-area section-space--pb_20">
        <div class="container">
          <div class="mapa-box">
            <div class="container">
              <div class="col-lg-12">
                <div class="donation-image">
                  <img
                    src="../static/update/mapa/domestico.gif"
                    class="img-fluid"
                    alt="Donation Image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="mapa-box">
            <div class="container">
              <div class="col-lg-12">
                <div class="donation-image">
                  <img
                    src="../static/update/mapa/domestico2.gif"
                    class="img-fluid"
                    alt="Donation Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=========== Video Area End ==========-->
      </div>
    </div>

    <!--=========== Causes Details Area Start ==========-->
    <div class="causes-details-area section-space--ptb_20">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mission-wrap mr-lg-5">
              <div class="section-title-wrap text-left">
                <h4 class="section-title-normal mb-30">Next Target</h4>
              </div>

              <div class="target-content">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=========== Causes Details Area End ==========-->

    <div class="site-wrapper-reveal">
      <!--=========== Video Area Start ==========-->
      <div class="about-video-area section-space--pb_20">
        <div class="container">
          <div class="mapa-box">
            <div class="container">
              <div class="col-lg-12">
                <div class="donation-image">
                  <img
                    src="../static/update/mapa/comercial.gif"
                    class="img-fluid"
                    alt="Donation Image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="mapa-box">
            <div class="container">
              <div class="col-lg-12">
                <div class="donation-image">
                  <img
                    src="../static/update/mapa/comercial2.gif"
                    class="img-fluid"
                    alt="Donation Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=========== Video Area End ==========-->
      </div>
    </div>

    <!--=========== Causes Details Area Start ==========-->
    <div class="causes-details-area section-space--ptb_20">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mission-wrap mr-lg-5">
              <div class="section-title-wrap text-left">
                <h4 class="section-title-normal mb-20">Next Target</h4>
              </div>

              <div class="target-content">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=========== Causes Details Area End ==========-->

    <div class="site-wrapper-reveal">
      <!--=========== Video Area Start ==========-->
      <div class="about-video-area section-space--pb_20">
        <div class="container">
          <div class="mapa-box">
            <div class="container">
              <div class="col-lg-12">
                <div class="donation-image">
                  <img
                    src="../static/update/mapa/industrial.gif"
                    class="img-fluid"
                    alt="Donation Image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="mapa-box">
            <div class="container">
              <div class="col-lg-12">
                <div class="donation-image">
                  <img
                    src="../static/update/mapa/industrial2.gif"
                    class="img-fluid"
                    alt="Donation Image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=========== Video Area End ==========-->
      </div>
    </div>

    <!--========== Footer Area Start ==========-->
    <footer class="footer-area bg-footer">
      <div class="footer-top section-space--ptb_80 section-pb text-white">
        <div class="container">
          <div class="footer-title-box">
            <div class="center">
              <img
                class="footer-heading-img"
                src="../static/logo/aigua_logo.png"
                alt=""
              />
            </div>
            <div class="center">
              <h1 class="footer-heading-title">#ABDATACHALLENGE</h1>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--==========// Footer Area End ==========-->

    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
      <i class="arrow-top flaticon-up-arrow"></i>
      <i class="arrow-bottom flaticon-up-arrow"></i>
    </a>
    <!--====================  End of scroll top  ====================-->

    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
      <div class="mobile-menu-overlay__inner">
        <div class="mobile-menu-overlay__header">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-6 col-8">
                <!-- logo -->
                <div class="logo">
                  <a href="home.html">
                    <img
                      class="img-fluid"
                      src="../static/logo/aigua_logo.png"
                      width="170px"
                      height="32px"
                      alt=""
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-4">
                <!-- mobile menu content -->
                <div class="mobile-menu-content text-right">
                  <span
                    class="mobile-navigation-close-icon"
                    id="mobile-menu-close-trigger"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu-overlay__body">
          <nav class="offcanvas-navigation">
            <ul>
              <li class="has-children">
                <a href="home.html">Home</a>
              </li>

              <li class="has-children">
                <a href="index.html">Graficos</a>
                <ul class="sub-menu">
                  <li>
                    <a href="grafic-1.html"><span>Grafico 1</span></a>
                  </li>
                  <li>
                    <a href="grafic-2.html"><span>Grafico 2</span></a>
                  </li>
                  <li>
                    <a href="grafic-3.html"><span>Grafico 3</span></a>
                  </li>
                  <li>
                    <a href="grafic-4.html"><span>Grafico 4</span></a>
                  </li>
                </ul>
              </li>

              <li class="has-children">
                <a href="prediction.html">Model prediction</a>
              </li>

              <li class="has-children">
                <a href="about-ust.html">About us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->

    <!-- JS
    ============================================ -->

    <!-- Modernizer JS -->
    <script src="../static/js/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <script src="../static/js/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="../static/js/main.js"></script>
  </body>
</html>
