<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ABDATACHALLENGE</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/webicon/icon.png" />
    <link rel="stylesheet" href="../static/css/vendor.min.css" />
    <link rel="stylesheet" href="../static/css/plugins.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.min.css" />

    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/grafics.js"></script>
  </head>

  <body>
    <!--====================  header area ====================-->
    <div class="header-area header-area--default">
      <!-- Header Bottom Wrap Start -->
      <header class="header-area header-sticky">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <div class="header__logo">
                <div class="logo">
                  <a href="home.html"
                    ><img
                      class="logo-size"
                      src="../static/logo/aigua_logo.png"
                      alt=""
                      width="185px"
                      height="35px"
                  /></a>
                </div>
              </div>
              <div class="header-right">
                <div
                  class="header__navigation menu-style-three d-none d-lg-block"
                >
                  <nav class="navigation-menu">
                    <ul>
                      <li class="has-children">
                        <a href="home.html">
                          <span>Home</span>
                        </a>
                      </li>
                      <li
                        class="has-children has-children--multilevel-submenu active"
                      >
                        <a href="grafic-1.html">
                          <span
                            >Gráficos
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-chevron-down"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                              />
                            </svg> </span
                        ></a>
                        <ul class="submenu">
                          <li class="active">
                            <a href="grafic-1.html">
                              <span>Consumos</span>
                            </a>
                          </li>
                          <li>
                            <a href="grafic-2.html">
                              <span>Contadors</span>
                            </a>
                          </li>
                          <li>
                            <a href="grafic-3.html">
                              <span>Mapas del consumo</span>
                            </a>
                          </li>
                          <li>
                            <a href="grafic-4.html">
                              <span>Gráficos del turismo</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-children">
                        <a href="prediction.html">
                          <span>Predicción del modelo</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>

                <div class="header-btn text-right d-none d-sm-block ml-lg-4">
                  <a class="btn-circle btn-default btn" href="about-ust.html">
                    Sobre nosotros
                  </a>
                </div>

                <!-- mobile menu -->
                <div
                  class="mobile-navigation-icon d-block d-lg-none"
                  id="mobile-menu-trigger"
                >
                  <i></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Header Bottom Wrap End -->
    </div>
    <!--====================  End of header area  ====================-->

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area bg-overlay-black-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="breadcrumb-title text-white">Grafica 1</h3>
            <!-- breadcrumb-list start -->
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Grafica 1</li>
            </ul>
            <!-- breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb-area end -->

    <!-- ======== Church About Area Start ========== -->
    <div class="church-about-area section-space--ptb_80">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-tai-content">
              <div class="section-title-wrap">
                <h3 class="section-title--two left-style mb-30">
                  Consumo domestico
                </h3>
              </div>
              <p style="font-size: 13px">
                La mayoría de los municipios presentan una tendencia similar en
                el consumo del agua, desde el principio del 2019 hasta el final
                del 2020, ha habido un aumento progresivo en los consumos.
              </p>
              <p style="font-size: 13px">
                Dicho fenómeno no es exclusivo del uso doméstico, sino también
                está presentado en otros tipos de uso, y se supone un resultado
                del aumento de la instalación de contadores.
              </p>
              <p style="font-size: 13px">
                En general, durante el diciembre y el enero se suele aumentar el
                consumo de agua y en el mes de agosto se disminuye.
              </p>
              <p style="font-size: 13px">
                Además, se detecta que durante la pandemia, hubó una disminución
                significativa en el consumo doméstico en el abril.
              </p>
              <p style="font-size: 13px">
                Esta disminución podría ser debida al anuncio público por la
                sanidad en que el virus COVID-19 se puede sobrevivir en el agua,
                la cual cosa aumenta la tendencia de usar agua mineral
                embotellada, también se sugiere la relación entre la
                hospitalización y la cuarentena de los pacientes de covid, se
                implica una disminución del consumo doméstico).
              </p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-tai-image small-mb__30 tablet-mb__30">
              <div
                id="grafic-1-domestico"
                class="img-fluid"
                style="width: 600px; height: 400px"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ======== Church About Area End ========== -->

    <!-- ======== Church About Area Start ========== -->
    <div class="church-about-area section-space--ptb_80">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="about-tai-image small-mb__30 tablet-mb__30">
              <div
                id="grafic-1-comercial"
                class="img-fluid"
                style="width: 600px; height: 400px"
              ></div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="about-tai-content">
              <div class="section-title-wrap">
                <h3 class="section-title--two left-style mb-30">
                  Consumo comercial
                </h3>
              </div>
              <p>
                Se muestra una significativa bajada del consumo en el agosto, y
                el periodo durante el diciembre y febrero.
              </p>
              <p>
                Durante pandemia, se demuestra una disminución del consumo en
                general. Un punto interesante para mencionar, es que los
                municipios con una alta densidad hotelera, tales como Barcelona
                y l'Hospiltalet de Llobregat tuvieron menores consumos de agua
                que otras zonas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ======== Church About Area End ========== -->

    <!-- ======== Church About Area Start ========== -->
    <div class="church-about-area section-space--ptb_80">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-tai-content">
              <div class="section-title-wrap">
                <h3 class="section-title--two left-style mb-30">
                  Consumo industrial
                </h3>
              </div>
              <p>
                La evolución es similar a otros tipos de consumo, se suele haber
                una disminución entre los meses de diciembre y febrero igual que
                el consumo comercial, y hubo una disminución en el abril de 2020
                que cuando ocurrió el condicionamiento por la pandemia.
              </p>
              <p>
                A través de la gráfica, se observa que en el agosto se consume
                menos agua respecto en comparación con el julio y el septiembre.
                Sin embargo, durante el mes de agosto del 2020, algunos
                municipios tales como Barcelona, Castelldefels y La llagosta
                experimentaron un aumento en el consumo de agua
              </p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-tai-image small-mb__30 tablet-mb__30">
              <div
                id="grafic-1-industrial"
                class="img-fluid"
                style="width: 600px; height: 400px"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ======== Church About Area End ========== -->

    <!-- ======== Church About Area Start ========== -->
    <div class="church-about-area section-space--ptb_80">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="about-tai-image small-mb__30 tablet-mb__30">
              <div
                id="grafic-1-Contador"
                class="img-fluid"
                style="width: 600px; height: 400px"
              ></div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="about-tai-content">
              <div class="section-title-wrap">
                <h3 class="section-title--two left-style mb-30">Contador</h3>
              </div>
              <p>
                Número de contador aumenta,(Badalona, Cornellà centra,Cerdanyola
                de valles, santa Coloma de Gremanet, santa Coloma de cervellò:
                2021.05, hay un aumento relevante, consumo industrial no
                presenta un aumento dependiente de número de aumento de
                contador. Sugiere que la industria es la que se instala los
                contadores. Respeto a los valores anormales del contador, las
                ciudades que han mencionado antes son más típicas que se ocurre
                esta anormalidad).
              </p>
              <p>En cambio, de industria, no demuestra esta dependencia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ======== Church About Area End ========== -->

    <!--========== Footer Area Start ==========-->
    <footer class="footer-area bg-footer">
      <div class="footer-top section-space--ptb_80 section-pb text-white">
        <div class="container">
          <div class="footer-title-box">
            <div class="center">
              <img
                class="footer-heading-img"
                src="../static/logo/aigua_logo.png"
                alt=""
              />
            </div>
            <div class="center">
              <h1 class="footer-heading-title">#ABDATACHALLENGE</h1>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--==========// Footer Area End ==========-->

    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
      <i class="arrow-top flaticon-up-arrow"></i>
      <i class="arrow-bottom flaticon-up-arrow"></i>
    </a>
    <!--====================  End of scroll top  ====================-->

    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
      <div class="mobile-menu-overlay__inner">
        <div class="mobile-menu-overlay__header">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-6 col-8">
                <!-- logo -->
                <div class="logo">
                  <a href="home.html">
                    <img
                      class="img-fluid"
                      src="../static/logo/aigua_logo.png"
                      width="170px"
                      height="32px"
                      alt=""
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-4">
                <!-- mobile menu content -->
                <div class="mobile-menu-content text-right">
                  <span
                    class="mobile-navigation-close-icon"
                    id="mobile-menu-close-trigger"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu-overlay__body">
          <nav class="offcanvas-navigation">
            <ul>
              <li class="has-children">
                <a href="home.html">Home</a>
              </li>

              <li class="has-children">
                <a href="grafic-1.html">Gráficos</a>
                <ul class="sub-menu">
                  <li>
                    <a href="grafic-1.html"><span>Consumos</span></a>
                  </li>
                  <li>
                    <a href="grafic-2.html"><span>Contadors</span></a>
                  </li>
                  <li>
                    <a href="grafic-3.html"><span>Mapas del consumo</span></a>
                  </li>
                  <li>
                    <a href="grafic-4.html"
                      ><span>Gráficos del turismo</span></a
                    >
                  </li>
                </ul>
              </li>

              <li class="has-children">
                <a href="prediction.html">Predicción del modelo</a>
              </li>

              <li class="has-children">
                <a href="about-ust.html">Sobre nosotros</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->

    <!-- JS
    ============================================ -->

    <!-- Modernizer JS -->
    <script src="../static/js/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <script src="../static/js/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="../static/js/main.js"></script>

    <script src="../static/js/grafics.js"></script>
  </body>
</html>
